<!-- In <form> html element, remove the action attr, because we're not going to request to the server once this form is submitted.

 We use type="submit" on a <button> element because that button would submit the form. But type="button" won't submit the
  form.

  Before using .push() on an array, that array must first be initialized. So we don't get error of trying to use push on
  undefined.

  Source maps are a little addition which cli kind of adds to the bundled files which allow the browser to translate the
  translated js code back to ts code or to simply map the js code to our ts code.
  In development only, those sourcemaps will be stripped out for production.

  Use browser debugger with sourcemaps:
  You can see your main.bundle.js file and click on a line you want on it, then it would open the typescript file which the
  that bundled line was from that .ts file. In sources files. For accessing ts codes under webpack, you can DIRECTLY access
  .ts code. In sources, under webpack, you should find a couple of subfolders, the .ts coeds are there!

   You can also use augury and after installation you can use it in browser developers tools.-->
<!-- We can USE local references that we defined in the template of a component either by passing them as arguments to method calls
 that we do in that template OR by selecting them with @ViewChild() .

 Here we want to set things up so when user click add button, we use the value of the name input and amount input to create a
 new ingredient and add that newly created ingredient to our array of ingredients.
 Now we can pass local references or <local reference.value> to parentheses of onAdd() as arguments of that method to use
 the values of those 2 inputs in the .ts file of this component OR we can use @ViewChild() approach in .ts file .
 For the second approach, we declared 2 new properties with @ViewChild() to get those 2 local references that we defined in
 template of this component.
 For getting the local references that you were defined in template of a component in .ts file of that exact component, you
 create properties for the class of that component and declare some properties which will get those local references by using
 @ViewChild('<name of local reference>', {static: true}) on those properties. But in this approach we don't need to pass those
 2 local references when we're calling onAddItem() method on click event.

 After getting the reference to the elements that we defined local references on them(which in this case, those elements are
 those 2 <input> elements), we need to emit an event to get access to those references in parent component of this component
 by emitting an event from this component.

  Learn: When you create a custom event from the child of a parent component in order to make that parent able to get some data
   which that custom event which is defined in it's parent component, you must use @Output() on the property which is the name
   of that custom event.-->
<!--2. TD Adding the Shopping List Form:
Don't use action attr on <form> in angular apps.
We don't need local references in order to access the form inputs and also don't need to use the click() event on button
of type="submit" in td approach or reactive.
We can get rid of the local references and onAddItem() method in this html template because we want to use TD approach
for handling the form. So we must use (ngSubmit) instead of that onAddItem() method for submitting the form.
Now we need to access the form ITSELF and not the object representation of form in TD approach by placing a local reference on
the whole form. Now we need to get access to the object representation of form instead of the DOM form element, so in order to
do that, the value of that local reference on whole form must be ngForm. By adding that ngForm, we get access to the JS object
representing the form which is created by angular behind the scenes and then pass that reference to the method which is
the value of (ngSubmit) . Now we can pass that local reference which is equal to ngForm on overall form to the method that
would be called when the form is submitted to get that object representation of form in that method which in this case is
onAddItem() . So provide an arg in declaration of this method to receive that local reference which that arg would be type of
NgForm. Because the local reference we are sending was = to ngForm.
So this was how we can submit the form but we also need to register some controls. So let's add name attributes to each input
in this form first. Also we need to add ngModel to register that input as a control in the TD approach. Remember to import
ngModel from FormsModule too otherwise that won't available. Also the button which we click on it to submit the form MUST
be of type submit.

3. Adding Validation to the Form:
We can disable the submit button if the form is invalid by binding to disabled attr. So: [disabled]="!<a reference to the
overall form>.valid" .

Also currently we can write or choose negative numbers in type="number" input. So we must fix that. The easy way of making
sure that the user only enters numbers greater than 0 is to use a built-in validator which is pattern validator. This validator
will check the user input against a regex.
Learn: The regular expression is a string, so because we are using [] on the attr which is a built in validator, we need to use
 '' for regex which is inside "" . But because we have a string for the value of bindded property which is pattern,
 we can omit the '' and therefore we need to omit the [] . So in this case we can use:
 [pattern]="'^[1-9]+[0-9]*$'"
 OR
 pattern="^[1-9]+[0-9]*$"

 So the second pattern, is the shortcut of using the property binding when we are bind to a string, where we don't have to
 sue the [] on the property and '' for the value of that prop which is a string.
 So now the negative values in input of type number which has that validator would make that input therefore that form invalid.
 Also 0 itself is invalid. -->
<!-- 4. Allowing the Selection of Items in the List:
In onEditItem() we need the id of ingredient that we clicked to pass it to .ts file. So let's extract the index of each
ingredient which is in that *ngFor by saying: let i =index in *ngFor and then pass it to that onAddItem() .

5. Loading the Shopping List Items into the Form:

7. Resetting the Form:

8. Allowing the the User to Clear (Cancel) the Form:

9. Allowing the Deletion of Shopping List Items: -->

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
<!--            <input type="text" id="name" class="form-control" #nameInput>-->
            <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
<!--            <input type="number" id="amount" class="form-control" #amountInput>-->
            <input type="number" id="amount" class="form-control" name="amount" ngModel required
                   pattern="^[1-9]+[0-9]*$">
        </div>

        <div class="row">
          <div class="col-xs-12">
            <!-- First approach: Send the local references as arguments.
            <button class="btn btn-success" type="submit" (click)="onAddItem(nameInput.value, amountInput.value)">Add</button>-->
            <!-- Second approach: Use @ViewChild('<name of local reference>', {static: true}) <property> -->
<!--              <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>-->

              <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
              <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode"
                      *ngIf="editMode">Delete</button>

            <!-- We don't need to pass a reference of the overall form to onClear() method too! Because we have access to this
             <form> in our .ts file by using @ViewChild()-->
              <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="!editMode">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>





